.header {
  display: flex;
  width: auto;
  height: auto;
  background-color: #fff;
  align-items: center;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
}

.header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  color: #0290ff;
}

.book-header {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  letter-spacing: 1.9px;
  margin-left: 50px;
}

.categories-header {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  letter-spacing: 1.9px;
  margin-left: 50px;
}

.user-border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.813rem;
  height: 2.813rem;
  margin-left: auto;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
}

.header i {
  color: #0290ff;
}
